.BlockLine {
  margin-left: 100px;
  height: 31px;
  width: 620px;
}

.div1 {
  display: inline-block;
}

.div2 {
  display: inline-block;
  float: right;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 200px;
}

@media (max-width: 960px) {
  .div1 {
    display: block;
  }
  .div2 {
    display: block;
    margin-top: 20px;
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    padding-bottom: 20px;
  }
}

@media (max-width: 720px) {
  .BlockLine {
    width: 100%;
    margin-left: 0;
    height: 31px;
    min-width: 0;
  }
  .div2 {
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}

.Title {
  text-align: center;
  color: rgba(255, 255, 255, 0.64);
  background-color: rgba(245, 245, 220, 0.24);
  padding-top: 10px;
  padding-bottom: 10px;
}

select {
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 15px;
}

.inputBlock {
  text-align: center;
  background-color: rgba(0,0,0,0);
  border: 1px;
  border-color: rgb(166,166,166);
  margin-top: 10px;
  height: 15px;
  border-radius: 3px;
  font-size: 15px;
  width: 120px;
  border-style: solid;
}

.Restart {
  text-align: center;
  margin-top: 10px;
}

.RestartButton {
  font-size: 15px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  border: 1px;
  color: white;
  border-style: solid;
  width: 80%;
}
